@use 'base/variables' as v;
@use 'base/mixins' as m;

.modal{
    position: absolute;
    background-color: rgb(0 0 0/.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .formulario{
        max-width: 60rem;
        background-color: v.$blanco;
        padding: 2rem;
       
        //centrar :horizontalmente
        margin: 0 auto;
        transform: translateY(-30rem);
        transition-property: all ;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
        opacity: 0;
        legend{
           
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 2rem;
            display: block;

        }
        input[type="text"]{
            border-radius: 1rem;
         
            border: 1px v.$gris;
        }
        .opciones{
            display: flex;  
        justify-content: space-between
          }
        .submit-nueva-tarea{
            @include m.boton(v.$indigo,v.$blanco)

        }
        .cerrar-modal{
            @include m.boton(v.$naranja, v.$blanco);

        }
        &.animar{
            position: relative;
            opacity: 1;
           top: 50%;
           transform:translateY(-50%);
        }
        &.cerrar{
            transform:translateY(-200%);
            opacity: 0;
        }
    }
}